.h1 {
  text-align: center;
  color: #032030;
}
body {
  background-color: #FEEEAB;
}
  
img, video {
  width: 50%;
  border-radius: 30px 30px 30px 30px;
}
audio {
  width: 30%;
  border-radius: 80% 90%/ 100%;
}
p {
  padding: 10px;
  font-family: sans-serif;
}



